.distill-site-nav {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffdc00;
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: green;
}

.nav-dropdown .nav-dropbtn {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffdc00;
  font-size: 15px;
  font-weight: 300;
}

.nav-dropbtn a {
  color: inherit;
  text-decoration: none;
}

.nav-dropdown:hover .nav-dropbtn:hover {
  color: green;
}

.distill-site-header {
}

.distill-site-footer {
}

.distill-site-header .logo img {
  max-height: 40px;
  width: auto;
  margin-bottom: -16px;
}

a.href-button {
  background-color: #ffdc00;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: black;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition: all 0.5s;
  cursor: pointer;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
